* {
    box-sizing: border-box;
  }
  .two {
    width: 400px;
    height: 500px;
    border: solid 1px black;
    padding: 40px;
    border-radius: 25px;
    background-color: white;
    -webkit-box-shadow: 9px 7px 10px 0px rgba(49, 50, 50, 0.86);
    -moz-box-shadow: 9px 7px 10px 0px rgba(49, 50, 50, 0.86);
    box-shadow: 9px 7px 10px 0px rgba(49, 50, 50, 0.86);
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
  }
  .one {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
  }
  body {
    background-color: #38d8c6;
  }
  #button {
    border: none;
    background-color: gray;
  }
  .form {
    margin-top: 15px;
  }

  
  estoy probando